body {
  font-family: 'Open Sans', sans-serif;
}
/*================================
 Header */
.hero-section {
  background-image: url(../images/bg-hero.png);
  background-size: cover;
  min-height: 100vh;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.navbar-nav .nav-item .nav-link {
  position: relative;
  font-size: 20px;
  color: #fff;
}
.navbar-nav .nav-item .nav-link:hover {
  color: #fff;
  text-decoration: none;
}
.navbar-container{
  height: 75px;
}
.main-form{
  max-width: 350px;
  max-height: 290px;
}
#hero h1{
  font-size: 60;
  font-weight: 550;
}
.site-header {
  transition: all 0.2s ease-in-out;
}
.site-header.scrolling {
  background-color: #fff;
  box-shadow: 0 0 10px 2px rgba(0,0,0, 0.1);
}
.site-header.scrolling .navbar-nav .nav-item .nav-link {
  color: initial;
}
.navbar-nav .nav-item .nav-link:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  transition: all 0.25s ease;
  background-color: #ef5f30;
}
.navbar-nav .nav-item .nav-link.active:before,
.navbar-nav .nav-item .nav-link:hover:before {
  width: 100%;
}
/* Mobile Layout */
.site-header.scrolling .logo-mobile path {
  fill: #000;
}
.logo-mobile path {
  fill: #fff;
}

/* End Header 
=================================*/
.main-form {
  padding: 35px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.8);
  border: solid 1px #d4d4d4;
}
.info {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
}
.bio-pic {
  max-height: 250px;
  max-width: 250px;
  border: 10px solid rgba(239, 90, 48, 0.15);
}
.h1{
  margin-top:99px;
}
.skills-pic {
  height: 250px;
  width: 350px;
}
.accomPic {
  height: 250px;
  width: 350px;
}
li.accomplishment {
  margin-left: 0px;   
}
ul {
  list-style-type: none;
}
ul li {
  margin: 0px;
}
p {
  padding-bottom: 5px;
}
.w-600 {
  font-weight: 600;
  font-size: 25px;
}
.text-subheading {
  font-size: 40px;
}
.text-orange {
  color: #ef5f30;
}
.link-orange {
  text-decoration: none;
  color: #ef5f30;
}
.link-orange:hover {
  text-decoration: underline;
  color: #ef5f30;
}
.flex-no-shrink {
  flex-shrink: 0;
}
.background-blue {
  background-color: rgba(80, 204, 200, 0.05);
}
.text-20 {
  font-size: 20px;
}
.text-18 {
  font-size: 18px;
}
.text-bold {
  font-weight: bold;
}
.w-50 {
  width: 50%;
}
/* ================================== */
/* Testimonials Section */
.carousel-item {
  max-width: 100%;
}
.carousel-slide {
  max-height: 415px;
}
.testims {
  min-height: 250px;
}
footer {
  height: 60px;
  line-height: 46px;
}   
.testim-container {
  min-height: 600px;
}
#indicator-pic1,
#indicator-pic2,  
#indicator-pic3 {
  width: 90px;
  height: 90px;
  bottom: -120px;
}
#testimonials .carousel:before {
  content: url(../images/quotes.svg);
  position: absolute;
  top: -30px;
  left: 10px;
  z-index: 1;
}
#testimonials .carousel-control-prev-icon,
#testimonials .carousel-control-next-icon {
  width: auto;
  height: auto;
}
#testimonials .carousel-control-next-icon img {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
#testimonials .testimonial-text {
  font-size: 25px;
  color: #333333;
}
#testimonials .carousel-indicators {
  bottom: -120px;
}
#testimonials .carousel-indicators li {
  height: auto;
  text-indent: initial;
  width: auto;
  border: 5px solid rgba(80, 204, 200, 0.05);
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}
#testimonials .carousel-indicators li.active {
  border-color: #e7bfc1;
}
#testimonials .carousel-item-content {
  max-width: 70%;
  min-height: 300px;
}
#testimonials .testimonial-text {
  font-size: 22px;
  color: #333333;
  font-style: italic;
  font-weight: 300;
  line-height: 35px;
}
/* End of Testimonials Section */
/* ================================ */
/* Resources Section */
#resources p {
  color: #999999;
}
#resources h4 a {
  color: #ef5f30;
  text-decoration: underline;
}
#resources h4 a:hover {
  text-decoration: none;
}
.res-columns {
  height: 150px;
  width: 350px;
  padding-bottom: 290px;
}
section .read-more-btn {
  border-radius: 25px;
  border: 2px solid #ef5f30;
  color: #ffffff;
  max-width: 300px;
  background-color: #ef5f30;
}
section .read-more-btn:hover {
  color: #ffffff;
  background-color: #ef5f30;
  border-color: #EF5F30;
}
section .read-more-btn svg {
  transition: all 0.2s ease;
}
section .read-more-btn:hover svg {
  transform: translate3d(10px,0,0);
}
section .read-more-btn svg path {
  fill: #ffffff;
}
/* End of Resources Section */
/* ================================== */
/* Blog Section */
#blog .img-container {
  overflow: hidden;
  cursor: pointer;
}
#blog .img-container:hover .caption {
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
}
#blog .caption {
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
  bottom: -10px;
  min-height: 110px;
  opacity: 0;
  transition: all .25s ease-in-out;
}
/* End of the Blog Section 
===================================== */
/* Media Queries */
@media (max-width: 574px) {
  #testimonials .carousel-item-content {
    max-width: 100%;
    min-height: 350px;
    padding-left: 0px;

  }
  #testimonials .carousel:before {
    content: url(../images/quotes.svg);
    position: absolute;
    display: none;
  }
  #testimonials .carousel-control-prev-icon,
  #testimonials .carousel-control-next-icon {
    display: none;
  }
  form.main-form {
    max-width: 290px;
    max-height: 350px;
  }
  .form-control-lg {
    font-size: medium;
  }
  #hero-text {
    font-size: 3rem;
    padding-top: 0px;
  }
  .w-600 {
    text-align: center;
  }
  .bio-pic {
    margin-right: 0px;
  }
  .logo-desktop {
    display: none;
  }
  .logo-mobile {
    margin: 0 auto;
  }
}
@media (min-width: 575px) {
  .site-header .logo-black {
    display: none;
  }
  .site-header.scrolling .logo-inverse {
    display: none;
  }
  .site-header.scrolling .logo-black {
    display: block;
  }
} 
@media (max-width: 768px) {
  .nav-link {
    display: none;
  }
}
@media (max-width: 990px) {
  #blog .img-container .caption {
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    font-size: medium;
  }
  #blog .caption {
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
    bottom: -10px;
    min-height: 110px;
    opacity: 0;
  }
}
/* End of the Blog Section 
===================================== */
