@font-face {
  font-family: 'Lucida Grande';
  src: url('../fonts/LucidaGrande.ttf') format('truetype');
}
@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../fonts/ProximaNova-Reg.ttf') format('truetype');
}
@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url('../fonts/ProximaNova-Sbold.ttf') format('truetype');
}
.hero-section {
  background-image: url(../images/bg-hero-new.jpg);
  background-size: cover;
  min-height: 95vh;
}
.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #ffffff;
  text-decoration: underline;
}
.main-form {
  padding: 35px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.8);
  border: solid 1px #d4d4d4;
}
#cta-button {
  max-width: 100%;
  background-color:#ef5f30;
  color: #ffffff;
}
.bio-pic {
  max-width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 5px solid #e7bfc1;
}
.h2{
  margin-top:99px;
}
.skills-pic {
  height: 300px;
  width: 350px;
}
#accomplishments .thirdPart {
  max-width: 50%;
}
.accomPic {
  height: 250px;
  width: 350px;
}
/* ul li.accomplishment::before {
  content: url("../images/checkmark.svg");
  height: 10px;
  width: 10px;
  margin-right:  0px;
}    */
.checkmark {
  height: 30px;
  width: 23px;
  margin: 0px;
}
li.accomplishment {
  margin-left: 0px;   
}
ul {
  list-style-type: none;
}
p {
  padding-bottom: 5px;
}
.text-subheading {
  font-size: 40px;
}
.text-orange {
  color: #ef5f30;
}
.link-orange {
  text-decoration: none;
  color: #ef5f30;
}
.link-orange:hover {
  text-decoration: underline;
  color: #ef5f30;
}
.flex-no-shrink {
  flex-shrink: 0;
}
.background-blue {
  background-color: rgba(80, 204, 200, 0.05);
}
.text-20 {
  font-size: 20px;
}
.text-25 {
  font-size: 25px;
}
.text-18 {
  font-size: 18px;
}
.text-bold {
  font-weight: bold;
}
/* ================================== */
/* Testimonials Section */
.carousel-item {
  max-width: 88%;
}
.carousel-slide {
  max-height: 415px;
}
.testims {
  padding-left: 175px;
  width: 100%;
}
footer {
  height: 60px;
  line-height: 46px;
}   
#indicator-pic1,
#indicator-pic2 {
  width: 90px;
  height: 90px;
}
#testimonials .carousel:before {
  content: url(../images/quotes.svg);
  position: absolute;
  top: -30px;
  left: 10px;
  z-index: 1;
}
#testimonials .carousel-control-prev-icon,
#testimonials .carousel-control-next-icon {
  width: auto;
  height: auto;
}
#testimonials .carousel-control-next-icon img {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
#testimonials .testimonial-text {
  font-family: 'ProximaNova-Regular', sans-serif;
  font-size: 25px;
  color: #333333;
}
#testimonials .carousel-indicators {
  bottom: -120px;
}
#testimonials .carousel-indicators li {
  height: auto;
  text-indent: initial;
  width: auto;
  border: 5px solid rgba(80, 204, 200, 0.05);
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}
#testimonials .carousel-indicators li.active {
  border-color: #e7bfc1;
}
#testimonials .carousel-item-content {
  max-width: 70%;
  min-height: 300px;
}
/* End of Testimonials Section */
/* ================================ */
/* Resources Section */
#resources p {
  color: #999999;
}
#resources h4 a {
  color: #ef5f30;
  text-decoration: underline;
}
#resources h4 a:hover {
  text-decoration: none;
}
section .read-more-btn {
  border-radius: 25px;
  border: 2px solid #ef5f30;
  color: #ef5f30;
  max-width: 300px;
}
section .read-more-btn:hover {
  color: #ffffff;
  background-color: #ef5f30;
  border-color: #EF5F30;
}
section .read-more-btn svg {
  transition: all 0.2s ease;
}
section .read-more-btn:hover svg {
  transform: translate3d(10px,0,0);
}
section .read-more-btn svg path {
  fill: #EF5F30;
}
section .read-more-btn:hover svg path {
  fill: #ffffff;
}
/* End of Resources Section */
/* ================================== */
/* Blog Section */
#blog .img-container {
  overflow: hidden;
  cursor: pointer;
}
#blog .img-container:hover .caption {
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
}
#blog .caption {
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
  bottom: -10px;
  min-height: 110px;
  opacity: 0;
  transition: all .25s ease-in-out;
}
.position-abs {
  position: absolute;
}
.position-rel {
  position: relative;
}
/* End of the Blog Section 
===================================== */
